<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetCurrentValues</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" href="/style.css">

    <script th:inline="javascript">
        const currentValuesEndpoint = [[${T(com.data354.aq54.config.AQ54Root).CURRENTVALUES}]];
        var jsonstring = [[${flux}]];
    </script>

</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Formulaire de Recherche</h1>

        <form id="exampleForm" method="get">
            <div class="form-group">
                <label for="station_name">Nom de la Station</label>
                <input type="text" class="form-control" id="station_name" name="station_name" required>
            </div>

            <button id="idsubmit" type="submit" onclick="callMethod()" class="btn btn-primary">Obtenir</button>
        </form>

        <canvas id="myChart" width="400" height="200"></canvas>

    </div>

    <script>
        function callMethod() {

            var stationName = $("#station_name").val();

            // Mettre à jour l'URL du formulaire
            $("#exampleForm").attr("action", currentValuesEndpoint + encodeURIComponent(stationName));

            // Soumettre le formulaire
            $("#exampleForm").submit();

        }

        function createChart(data) {
            var labels = data.values.map(function (item) {
                return item.sensor;
            });

            var values = data.values.map(function (item) {
                return item.value;
            });

            var ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Valeurs',
                        data: values,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        var jsonData = JSON.parse(jsonstring);
        createChart(jsonData);

    </script>

</body>

</html>