<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetCurrentValues</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" href="/style.css">

    <script th:inline="javascript">
        const currentValuesEndpoint = [[${T(com.data354.aq54.config.AQ54Root).SESSIONINFO}]];
        var jsonstring = [[${flux}]];
    </script>

</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Formulaire de Recherche</h1>

        <form id="exampleForm" method="get">
            <div class="form-group">
                <label for="project_name">Nom du projet</label>
                <input type="text" class="form-control" id="project_name" name="project_name" required>
            </div>

            <button id="idsubmit" type="submit" onclick="callMethod()" class="btn btn-primary">Obtenir</button>
        </form>

        <div>
            <h2>Session Information</h2>

            <!-- Vérifie si la liste 'sessionInfoList' est vide ou nulle -->
            <th:block th:if="${#lists.isEmpty(sessionInfoList)}">
                <p>Aucune information de session disponible.</p>
            </th:block>

            <!-- Itération sur la liste 'sessionInfoList' -->
            <div th:each="sessionInfo : ${sessionInfoList}">
                <div>
                    <h3 th:text="${sessionInfo.station}"></h3>
                    <p th:text="'Description : '+${sessionInfo.description}"></p>
                    <p th:text="'Session ID: ' + ${sessionInfo.sessiond_id}"></p>

                    <!-- Itération sur la liste 'integrated_sensors' -->
                    <ul>
                        <li th:each="sensor : ${sessionInfo.integrated_sensors}">
                            <p th:text="'Type: ' + ${sensor.type} + ', Unit: ' + ${sensor.unit}"></p>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>

    </div>

    <script>
        function callMethod() {
            var projectName = $("#project_name").val();

            // Mettre à jour l'URL du formulaire
            $("#exampleForm").attr("action", currentValuesEndpoint + encodeURIComponent(projectName));

            // Soumettre le formulaire
            $("#exampleForm").submit();
        }
    </script>

</body>

</html>